* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.memory-setup {
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    height: 65%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 5px solid black;
}

.memory-card {
    width: 24.5%;
    height: 24.5%;
    margin: 0.25% 0.25%;
    display: inline-block;
    position: relative;
    transform:scale(1)
}

.memory-card:active {
    transform: scale(0.975);
    transition: transform 0.25s;
}

.back-face, .front-face {
    width: 100%;
    height: 100%;
    position: absolute;
}


