* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 97.5vh;
}


/* Heading */

.heading {
    text-align: center;
    margin: 20px 0;
}
button {
    margin: 20px 0;
}


/* Board setup */ 

.board {
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    height: 65%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 5px solid black;
    perspective: 1000px;
}

.card {
    width: 24%;
    height: 24%;
    margin: 0.5% 0.5%;
    display: inline-block;
    position: relative;
    transform:scale(1);
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.card:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}


.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.front-face{
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.4s;
    backface-visibility: hidden;
}


/* Footer */

footer {
    margin-top: 20px;
    text-align: center;
}
