@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("assets/images/background.png");
    height: 97.5vh;
    font-family: 'Ubuntu', sans-serif;
}

/* Heading */
.heading {
    text-align: center;
    margin: 20px 0;
}
.head-h1 {
    font-size: 4em;
    margin: 4% 0;
}
.choice-btn {
    margin: 10px 0;
    width: 300px;
    height: 100px;
    font-size: 40px;
}
#help {
    margin-top: 60px;
}
#resetBoard {
    margin-bottom: 15px;
}
.time-counter {
    font-size: 3em;
    margin-bottom: 10px;
}


/* Board setup */ 
.board {
    background-color: white;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    height: 60%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0;
    border: 5px solid black;
    perspective: 2000px;
}
.card {
    width: 24.5%;
    height: 24.5%;
    margin: 0.25% 0.25%;
    display: inline-block;
    position: relative;
    transform:scale(1);
    transform-style: preserve-3d;
    transition: transform 0.2s;
}
.card:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
}
.front-face{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
    transition: transform 0.25s;
    backface-visibility: hidden;
}


/* Footer */
footer {
    margin-top: 15px;
    text-align: center;
}
i {
    width: 45px;
    height: 45px;
    margin: 15px 5px 0;
    padding:12.5px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #17a2b8;
    transition: all 0.35s ease-in-out;
}
i:hover{
    background: #dc3545;
}


/* Modals */
.modal-body {
    text-align: center;
}
.modal-body > p {
    margin-bottom:  15px;
    font-size: 20px;
}
.modal-body > h2 {
    font-size: 50px;
    margin-top: 50px;
}
.modal-body > h4 {
    font-weight: 500;
}
.btn-block {
    font-size: 30px;
    height: 70px;
}
